[Unit]
Description=Synchronize system clock or PTP hardware clock (PHC)
After=ntpdate.service ptp4l.service

[Service]
Type=simple
ExecStart=taskset -c 12 /usr/sbin/phc2sys -a -r -r -n 24 -R 256 -u 256

[Install]
WantedBy=multi-user.target
