[Unit]
Description=SRS gNB metrics
After=network.target

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=1
ExecStart=/var/tmp/metrics-receiver.py
StandardOutput=truncate:/var/log/gnb-metrics.log
StandardError=truncate:/var/log/gnb-metrics.log

[Install]
WantedBy=multi-user.target
